/* 
Nav Bar
Banner/Hero
Domains search
  Inline list (que també ho és la nav bar)
Pricing plans
  Card - testimonial
GraphicTextLearnMore pairs
User-friendly - titles and section pairs
Footer
  Section column
Quotes
List
Button, badge, icon-round, link, two-column-grid, media-component (icon, heading, text)
*/

:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
}
